<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562091604190-7u85eltedn2hergcj15tmshsoebcvam7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562091604190-7u85eltedn2hergcj15tmshsoebcvam7</string>
	<key>API_KEY</key>
	<string>AIzaSyAx5JawYRC-eL9SbRN_LYulAJ5NIMqWNxc</string>
	<key>GCM_SENDER_ID</key>
	<string>562091604190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dplayerz.LifeAppProject</string>
	<key>PROJECT_ID</key>
	<string>lifeappproject-717f0</string>
	<key>STORAGE_BUCKET</key>
	<string>lifeappproject-717f0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562091604190:ios:5bcc3c9d60169fc9d12a4f</string>
</dict>
</plist>